<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>35th Nordic Workshop on Programming Theory (NWPT) - {{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="title">35th Nordic Workshop on Programming Theory (NWPT)</div>
    <div class="place">November 6 - 8 2024, Copenhagen, Denmark</div>
    {% include navigation.html %}
    <div class="horizontal-images">
      <img src="images/festauditoriet.jpg" alt="Festauditoriet"/>
      <img src="images/KVL_Bulowsvej_Copenhagen.jpg" alt="KVL Bulowsvej"/>
      <img src="images/nyhavn.jpg" alt="Nyhavn"/>
    </div>
    <div class="sponsor">Support and Sponsors</div>
    <div class="sponsor-images">
      <a href="https://www.carlsbergfondet.dk/en"><img src="images/Carlsbergfondet_logo_2-liner_UK_RGB_GREEN.png" alt="Carlsberg Foundation"/></a>
    </div>
    <section>
      {{ content }}
    </section>
    <footer>
      <!-- &copy; to me -->
    </footer>
  </body>
</html>
