<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>35th Nordic Workshop on Programming Theory (NWPT) - {{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="title">35th Nordic Workshop on Programming Theory (NWPT)</div>
    <div class="place">November 6 - 8 2024, Copenhagen, Denmark</div>
    {% include navigation.html %}
    <div class="horizontal-images">
      <img src="images/geocenter.jpg" alt="The Geocenter Copenhagen"/>
      <img src="images/observatoriet.jpg" alt="The Observatory by botanical garden"/>
      <img src="images/nyhavn.jpg" alt="Nyhavn"/>
    </div>
    <div class="sponsor">Support and Sponsors</div>
    <div class="sponsor-images">
      <img src="images/Carlsbergfondet_logo_2-liner_UK_RGB_GREEN.png" alt="Carlsberg Foundation"/>
      <img src="images/prosa.png" alt="PROSA"/>
      <img src="images/ku.png" alt="University of Copenhagen"/>
      <img src="images/RUC-logo.jpg" alt="Roskilde University"/>
    </div>
    <section>
      {{ content }}
    </section>
    <footer>
      <!-- &copy; to me -->
    </footer>
  </body>
</html>
